.a1 {
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 20px;
    padding: 20px 30px;
    align-items: center;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255,255,255,1);
    background-color: #2a2a2a;
    position: fixed;
    border: 3px solid rgba(255,255,255,0.1);
    transition: border 0.3s ease;
}

.a1:hover {
    border: 3px solid #F5622C;
    background-color: #3a2a25; /* change border when hovering anywhere in navbar */
}

.a1 a {
    color: rgba(255,255,255,1);
    background-color: transparent;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.a1 a:hover {
    color: #F5622C;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    transform: scale(1.1); 
}


.a2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 450px 20px;
}

.a2 a {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 60px;
    font-weight: 700;
    transition: color 1s ease, transform 0.7s ease;
}

.a2 a:hover {
    color: #F5622C;
    transform: scale(4); 
}



body {
    background-color: #1e1e1e;
}
